---
import Features from "./Features.astro";
---

<section class="bg-zinc-900 p-20 rounded-xl my-4">
  <h1 class="text-5xl text-center mb-3">about us</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolore
    veniam quo. Inventore, quisquam animi dolore error eaque soluta. Earum,
    porro? Asperiores illo consequatur nam natus eveniet alias nostrum
    consectetur.
  </p>
</section>
