<section class="flex flex-col md:flex-row p-10 gap-10">
  <div class="flex-1 grid grid-cols-2 p-3 order-2 md:order-0">
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 mx-auto" />
      <p>Dev management</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 mx-auto" />
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 mx-auto" />
      <p>Lorem ipsum dolor sit.</p>
    </div>
    <div class="text-center">
      <img src="favicon.svg" alt="" class="w-20 mx-auto" />
      <p>Lorem, ipsum.</p>
    </div>
  </div>
  <div class="flex-1 p-3">
    <h2 class="text-5xl">Lorem ipsum dolor sit.</h2>
    <p class="text-2xl">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque, nihil.
    </p>
  </div>
</section>
