---
import Layout from "../Layouts/Layout.astro";
---

<Layout title="acerca de nosotros">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia impedit quo
    illo commodi ipsam reiciendis veniam, tenetur id exercitationem magnam
    quaerat perspiciatis sint molestiae voluptatem illum asperiores deleniti
    iste. A eveniet magni, praesentium, aut architecto blanditiis sint
    veritatis, omnis ut corrupti nostrum inventore ad dolorum modi expedita
    earum rerum neque? Doloribus necessitatibus quas vel impedit enim, tenetur
    minima pariatur nobis neque dolore incidunt praesentium molestias quaerat
    aperiam temporibus, culpa dolorem ipsa accusamus vero laboriosam nulla
    quisquam qui. Excepturi minima nemo magni dolor quod, a, doloribus aperiam
    numquam, perferendis voluptate sunt? Sunt ullam, est ex atque eum ducimus?
    Tenetur, repellendus animi!
  </p>
</Layout>
