---
import About from "../components/Landing/About.astro";
import Features from "../components/Landing/Features.astro";
import Hero from "../components/Landing/Hero.astro";
import More from "../components/Landing/More.astro";
import Projects from "../components/Landing/Projects.astro";
import Layout from "../Layouts/Layout.astro";
---

<Layout title="Bienvenidos a mi sitio">
  <main class="m-5">
    <Hero />
    <More />
    <Features />
    <About />
    <Projects />
  </main>
  
</Layout>
