<footer
  class="p-10 flex justify-between items-start bg-gray-800 text-white p-4 mt-4"
>
  <div>
    <h4 class="font-bold text-2xl">site map</h4>
    <a href="/home">home</a>
    <a href="/about">about</a>
    <a href="/pricing">pricing</a>
  </div>
  <div>
    <h4 class="font-bold text-2xl">site map</h4>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="flex flex-col gap-2">
    <h4 class="font-bold text-2xl">social Links</h4>
    <a href="">Linkedin</a>
    <a href="">Facebook</a>
    <a href="">twitter</a>
  </div>
</footer>
